extends layout

block content
  h1= title
  form(method='get')
    input(type='text' name='search' value=search)
    input(type='submit' name='szukaj')


  each item in data
    article
      h1(class='title')=item.title
      p(class='date')=item.created
      p=item.description
