extends layout

block content
  h1= title
  if show
    form(method='post')
      p Jaka jest twoja ulubiona pora roku
      ul
        each item in data
          li
            label=item.title
            input(type='radio' name='quiz' value = item._id)
    input(type="submit" value='zagłosuj')
    p aby zobaczyc wyniki oddaj głos
  else
    h1 dokonałeś już głosu w ankiecie
    p wyniki
    ul
      each item in data 
        li #{item.title} głosów: #{item.vote} (#{Math.round(item.vote /sum*100)}%)
    p Gosłow oddano #{sum}